<ul class="nav nav-pills">
  <li role="presentation" class="<%= 'active' if current_page?({controller: 'analytics'}) %>"><%= link_to "Analytics", analytics_path %></li>
  <li role="presentation" class="<%= 'active' if current_page?({controller: 'welcome_contents'}) %>"><%= link_to "Content", welcome_contents_path %></li>
  <li role="presentation" class="<%= 'active' if current_page?({controller: 'sponsors'}) %>"><%= link_to "Sponsors", sponsors_path %></li>
  <li role="presentation" class="<%= 'active' if current_page?({controller: 'points_of_interest'}) %>"><%= link_to "Points of Interest", points_of_interest_path %></li>
  <li role="presentation" class="<%= 'active' if current_page?({controller: 'trails'}) %>"><%= link_to "Trails", trails_path %></li>
  <li role="presentation" class="<%= 'active' if current_page?({controller: 'junctions'}) %>"><%= link_to "Junctions", junctions_path %></li>
  <li role="presentation" class="<%= 'active' if current_page?({controller: 'shelters'}) %>"><%= link_to "Shelters", shelters_path %></li>
<ul>
<br><br><br>