<h1>Bend Nordic Maps</h1>
<ul class="list-group">
  <li class="list-group-item"><%= link_to "Content", welcome_contents_path %></li>
  <li class="list-group-item"><%= link_to "Sponsors", sponsors_path %></li>
  <li class="list-group-item"><%= link_to "Sponsorship Levels", sponsorship_levels_path %></li>
  <li class="list-group-item"><%= link_to "Trails", trails_path %></li>
  <li class="list-group-item"><%= link_to "Junctions", junctions_path %></li>
  <li class="list-group-item"><%= link_to "Shelters", shelters_path %></li>
<ul>