<%- model_class = Sponsor -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:postion) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:logo_url) %></th>
      <th><%= model_class.human_attribute_name(:link_url) %></th>
      <th><%= model_class.human_attribute_name(:sponsorship_level_id) %></th>
      <th><%= model_class.human_attribute_name(:active) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:notes) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @sponsors.each do |sponsor| %>
      <tr>
        <td><%= sponsor.position %></td>
        <td><%= sponsor.name %></td>
        <td><%= sponsor.logo_url %></td>
        <td><%= sponsor.link_url %></td>
        <td><%= sponsor.sponsorship_level.name if sponsor.sponsorship_level %></td>
        <td><%= sponsor.active %></td>
        <td><%= sponsor.description %></td>
        <td><%= sponsor.notes %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_sponsor_path(sponsor), :class => 'btn btn-default btn-xs' %>
        </td>
        <td>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      sponsor_path(sponsor),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_sponsor_path,
            :class => 'btn btn-primary' %>
